button{
    background-color: gray;
    border: 5px solid green;
    border-radius: 10px;
    width: 100px;
    height: 50px;

}
button:hover{
    background-color: green;
    border: 5px solid black;
    color: aliceblue;
    cursor:cell;
    
}
.child:first-child{
    color: pink;
}